
  // .menu-btn {
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   margin-left: auto;
  //   align-items: center;
  //   width: 80px;
  //   height: 80px;
  //   cursor: pointer;
  //   background-color: black;
    
  //   /* border: 3px solid #fff; */
  // }
  // .menu-btn__burger {
  //   width: 50px;
  //   height: 6px;
  //   background: #fff;
  //   border-radius: 5px;
  //   box-shadow: 0 2px 5px rgba(255,101,47,.2);

  // }
  // .menu-btn__burger::before,
  // .menu-btn__burger::after {
  //   content: '';
  //   position: absolute;
  //   width: 50px;
  //   height: 6px;
  //   background: #fff;
  //   border-radius: 5px;
  //   box-shadow: 0 2px 5px rgba(255,101,47,.2);
  
  // }
  // .menu-btn__burger::before {
  //   transform: translateY(-16px);
  // }
  // .menu-btn__burger::after {
  //   transform: translateY(16px);
  // }
  // /* ANIMATION */
  // .menu-btn.open .menu-btn__burger {
  //   transform: translateX(-50px);
  //   background: transparent;
  //   box-shadow: none;
  // }
  // .menu-btn.open .menu-btn__burger::before {
  //   transform: rotate(45deg) translate(35px, -35px);
  // }
  // .menu-btn.open .menu-btn__burger::after {
  //   transform: rotate(-45deg) translate(35px, 35px);
  // }
  
 

  .burger {
    width: 44px;
    height: 37px;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    display: flex;
    &__icon {
        width: 26px;
        height: 3px;
        background-color: #fff;
        position: relative;
        border-radius: 5px;
        transition: background-color .2s linear;
    }
    &__icon::before {
        content: "";
        display: block;
        width: 15px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: -9px;
        transition: transform $trans-time ease-in, top $trans-time linear $trans-time, width $trans-time;
        border-radius: 5px;
    }
    &__icon::after {
        content: "";
        display: block;
        width: 26px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 9px;
        transition: transform $trans-time ease-in, top $trans-time linear $trans-time;
        border-radius: 5px;
    }
    &__icon--active {
        background-color: transparent;
    }
    &__icon--active::before {
        width: 26px;
        transform: rotate(45deg);
        top: 0;
        transition: width $trans-time, top $trans-time linear, transform $trans-time ease-in $trans-time;
    }
    &__icon--active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top $trans-time linear, transform $trans-time ease-in $trans-time;
    }

    @media (min-width: $screen-md) {
        display: none;
    }
}
