.footer{
    background-color: $blackCol;
    min-width: 320px;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 38px 35px;
    }
    &__inner{
        @include roboto-bold;
        color: $footerTextCol;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    &__subtitle{
        @include roboto-reg;
        color: $footerSubTextCol;
        min-width: 303px;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 20px;
        font-size: 12px;
    }
    &__address{
        @include roboto-reg;
        color: $footerSubTextCol;
        text-align: center;
        margin-top: 34px;
        font-size: 14px;
        line-height: 24px;
        text-align: center; 
    }
    &__icons{
        margin-top: 26px;
    }
}
