.page-body {
    min-width: 200px;
}
.container {
    overflow-x: hidden;
    max-width: $screen-lg;
    margin: 0 auto;
    padding: 25px;
   
    @media (min-width:$screen-md){
        margin: 0 auto;
        padding: 50px;
        max-width: $screen-md;
    }
    @media (min-width:$screen-ml){
        margin: 0 auto;
        padding: 50px;
        max-width: $screen-ml;
    }
    @media (min-width:$screen-lg){
        margin: 0 auto;
        padding: 50px;
        max-width: $screen-lg;
    }
}
