.img-sm{
   width: 100%;
}
.burger{
   background-color: $blackCol;
   margin-bottom: 23px;
   &__item{
      display:flex;
      padding: 10px;
   }  
}
.navbar{
   display: flex;
   justify-content: center;
   flex-direction: column;
   &__menu-wrapper{
      position: absolute;
      top: 62px;
      right: 25px;
      z-index: 10000;
      @media (max-width: $screen-sm) {
         position: absolute;
         top: 62px;
         right: 25px;
         z-index: 10000;
       }
      @media (min-width: $screen-md) {
        position: relative;
        display: flex;
        justify-content: center;
        top: 0;
        right: 0;
      }
   }
}
.menu {
   display: none;
   margin-left: auto;
   width: 150px;
   text-transform: uppercase;
   background-color: $burgerMenuBackCol;
   margin-block-start: 0;
   margin-block-end: 0;
   padding-inline-start: 0;
   @media (min-width: $screen-md) {
      background-color: transparent;
      display:flex;
      justify-content:space-evenly;
      align-items: center;
      margin: 30px 50px;
      width: 700px;
   }
   &--active{
      display: flex;
      flex-direction: column;
      @media (min-width: $screen-md) {
         display: flex;
         background-color: transparent;
         flex-direction: row;
         justify-content: space-between;
      }
   }
   &__item:hover{
      @media (max-width:$screen-md) {
         background-color: $burgerMenuBackHover;
      }
   }
   &__item:hover > &__link{
      @media (max-width:$screen-md) {
         color: $burgerMenuHoverCol;
      }
      @media (min-width:$screen-md) {
         color: $burgerMenuHoverCol;
      }
   }
   &__link {
      @include roboto-reg;
       font-size: 11px;
       line-height: 22px;
       color: $instagramTextCol;
       transition: all .3s;
       padding: 5px 10px 8px 14px;
       @media (min-width: $screen-md) {
           transition: all .3s;
       }
   }
}
