.instagram{
    @media (min-width:$screen-md) {
        background-color: rgba(0,0,0,0.03);
}
    &__title-md{
        @include roboto-bold;
        color: $instagramTextCol;
        display: none;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 13px;
        text-transform: uppercase;
        @media (min-width:$screen-md) {
          display: flex;
      }
    }
    &__title{
        @include roboto-bold;
        font-size: 14px;
        color: $instagramTextCol;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;
        @media (min-width:$screen-md) {
         font-size: 16px;  
        }
    }
    &__title-container{
       margin-bottom: 15px;
        @media (min-width:$screen-md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
        }
    }
}
.shots{
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    flex-direction: column;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0;
    justify-content: space-between;
    @media (min-width:$screen-md) {
       flex-direction: row;
       flex-wrap: wrap;
       min-width: 686px;
    }
    
    &__item{
        @media (min-width:$screen-md) {
            width: 214px;
            display: flex;
        }
        @media (min-width:$screen-ml) {
            width: 214px;
            display: flex;
        }
        @media (min-width:$screen-lg) {
            width: 265px;
        }
    }
    &__item:not(:nth-child(1)){
        display: none;
        @media (min-width:$screen-md) {
            display: flex;
        }
    }
    &__item:nth-child(4){
        @media (min-width:$screen-md) {
           display: none;
        } 
        @media (min-width:$screen-ml) {
           display: flex;
        } 
    }
    &__photo{
        width: 228px;
        height: 228px;
         @media (min-width:$screen-md) {
            width: 218px;
        }
        @media (min-width:$screen-ml) {
            width: 224px;
            height: 224px;
         } 
         @media (min-width:$screen-lg) {
            width: 265px;
        }
    }
}
