.posts{
    &__cards{
        padding-inline-start: 0;
        @media (min-width:$screen-ml) {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between; 
        }
        @media (min-width:$screen-lg) {
           display: flex;
           flex-wrap: wrap;
           width:1100px;
           justify-content: space-between;
        }
    }
    &__title{
        @include roboto-bold;
        font-size: 14px;
        color: $instagramTextCol;
        text-transform: uppercase;
      
    }
}
.cards{
    &__title{
        font-size: 14px;
        @include roboto-bold;
        font-weight: 700;
        color: $instagramTextCol;
        margin-block-start: 0;
        margin-block-end: 0;
        @media (min-width:$screen-md){
            margin-bottom: 10px;
        }
        @media (min-width:$screen-lg) {
            width: 200px;
           }
    }
    &__item{
        width: 262px;
        margin-bottom: 32px;
        @media (min-width:$screen-md) {
            height: 140px;
            max-width: 555px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        @media (min-width:$screen-ml) {
            width: 448px;
        }
    }
    &__item:last-child{
        display: none;
        @media (min-width:$screen-ml) {
          display: flex;
        }
    }
    &__subtitle{
        margin-block-start: 0;
        font-size: 11px;
        color: #7c7c7c;
        margin-block-end: 0;
        @include roboto-reg;
        margin-top: 10px;
        @media (min-width:$screen-md){
            font-size: 12px;
            margin-bottom: 13px;
        }
       
    }
    &__item-container{
        width: 350px;
        margin-top: 11px;
        @media (min-width:$screen-md){
           margin-left: 20px;
        }
        @media (min-width:$screen-ml){
            width: 250px;
        }
        
    }
    &__text{
        @include roboto-reg;
        display: none;
        margin-block-start: 0;
        color: $postsTextCol;
        font-size: 14px;
        margin-block-end: 0;
        @media (min-width:$screen-md){
            display: flex;
        }
    }
}