//colors
$burgerMenuHoverCol: #57A4A4;
$blackCol: #000000;
$burgerMenuBackCol :#F5F5F5;
$burgerMenuBackHover: #E5E5E5;
$instagramTextCol:  #4E4E4E;
$postsTextCol:#5C5C5C;
$footerTextCol: #FEFEFE;
$footerSubTextCol: #B9B9B9;


//fonts
$roboto: 'Roboto', sans-serif;

//font-sizes
$stdFont: 16px;
$trans-time: .2s;

//screen width
$screen-sm: 320px;
$screen-md: 786px;
$screen-ml:996px;
$screen-lg: 1200px;

